@font-face {
    font-family: JetBrainsMono;
    src: url('./src/fonts/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
}

body {
    background-color: #21252B;
    color: #FFFFFF;
    font-family: JetBrainsMono, sans-serif;
    font-size: min(2vh, 2.5vw);
}

h2 {
    font-size: 2em;
}

.border {
    border: 1px #4F575F solid;
}

.group_words {
    white-space: nowrap;
}

.fourierIframe {
    border: none;
    position: fixed;
    z-index: -1;
    resize: both;
    overflow: auto;
    width: 100%;
    height: 40vh;
}

.fourierSpacer {
    width: 100%;
    height: 40vh;
    position: relative
}

a.button6 {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: JetBrainsMono,'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
}
a.button6:active{
    top:0.1em;
}
@media all and (max-width:30em){
     a.button6{
        display:block;
        margin:0.4em auto;
    }
}


/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
    overflow: hidden;
    background-color: #282C34;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 -10px 8px rgba(31, 32, 41, 0.7),
                0 6px 8px rgba(31, 32, 41, 0.7);
    font-size: min(3vw, 2vh);
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


/* Right-aligned link */
.navbar a.right_aligned {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Active/current link */
.navbar a.active {
    background-color: #666;
    color: white;
}


.red {background-color: #E06C75}
.green {background-color: #98C379}
.yellow {background-color: #E5C07B}
.blue {background-color: #61AFEF}
.magenta {background-color: #C678DD}

.normal_link {
    text-decoration: none;
    color: #61AFEF;
}
.normal_link:hover {
    color: #E5C07B;
}

.center_block {
    width: min(max(65vw, 60vh), 95vw);
    margin: auto;
    padding: 20px;
}
.center_block > h1 {
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.60), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.60));
    margin: 0px 10%;
}

.tile-large {
    width: calc(min(8vw, 8vh, 70px) * 4 + 1vw * 3);
    height: calc(min(8vw, 8vh, 70px) * 4 + 1vw * 3);
    grid-column: span 4;
    grid-row: span 4;
}

.tiles-grid {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(auto-fill, min(8vw, 8vh, 70px));
    grid-auto-rows: min(8vw, 8vh, 70px);

    padding: 2vw 0;
    margin: auto;
    text-align: center;
}